#main_container {
    align-items: center;
}

#nav_container {
    padding-left: 3%;
    padding-right: 3%;
}

#nav_button_prev,
#nav_button_next {
    font-size: 28px;
    height: auto;
    width: 20%;
}

.checkbox-container {
    align-items: center;
}

#file_list {
    margin-left: 5%;
}