#main_container {
    align-items: center;
}

#nav_container {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
}

#nav_button_prev,
#nav_button_next {
    font-size: 28px;
    height: auto;
    width: 20%;
}

#nav_button_prev {
    position: absolute;
}

#nav_button_next {

}

.checkbox-container {
    align-items: center;
}

#file_list {
    margin-left: 10%;
}